*.zip
*.ini
*.pgm
*.jpg
*.png
.DS_Store
.ipynb_checkpoints/
*/.DS_Store
ML para AI/Obligatorio/models/knn_model.joblib
ML para AI/Obligatorio/models/tree_model.joblib
*.joblib
*.csv
/ML para AI/Obligatorio/models
*.joblib
ML para AI/Obligatorio/models/knn_model.joblib
ML para AI/Obligatorio/models/nb_model.joblib
ML para AI/Obligatorio/models/tree_model.joblib
ML para AI/Obligatorio/models/knn_model.joblib
/.accelerate
accelerate-prompt-system/
